#div1 {
    font-weight: 900;
    background-color: rgb(224, 171, 102);
    font-style: italic;
    font-family: cursive;
    padding-bottom: 10em

}

#div2 {
    font-weight: 900;
    background-color: rgb(121, 116, 110);
    font-style: italic;
    font-family: cursive;
    padding-bottom: 25em

}

#div3 {
    font-weight: 900;
    background-color: rgb(61, 60, 59);
    font-style: italic;
    font-family: cursive;
    padding-bottom: 10em
}

img {align-self: auto;}



    div.picture1 {
        width:100px; /*width of your image*/
        height:100px; /*height of your image*/
        background-image:url('yourimage.file');
        margin:0; /* If you want no margin */
        padding:0; /*if your want to padding */
     }

}