#div1 {
    font-weight: 900;
    background-color: rgb(224, 171, 102);
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-bottom: 10em;
    font-size: 28em

}

#div2 {
    font-weight: 900;
    background-color: rgb(121, 116, 110);
    font-style: italic;
    font-family: cursive;
    padding-bottom: 25em

}

#div3 {
    font-weight: 900;
    background-color: rgb(61, 60, 59);
    font-style: italic;
    font-family: cursive;
    padding-bottom: 10em;
    font-size: 14em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  